@import url('https://fonts.googleapis.com/css?family=Roboto|Big+Shoulders+Text|Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Anton|Reenie+Beanie&display=swap');

html{
font-size: 62.5%;
}
body{
  color: white;
  background: #efb9bc;
  height: 100%;
  width:100vw;
  font-family:  'Roboto Mono', monospace;

}
p{
  font-size: 2.5rem;
}

body a{
  color: #1e369b;
  box-shadow: inset 0 0 100px 100px rgb(255, 180, 87);
}

h1,h2,h3{
  font-family: 'Anton', sans-serif;
}
h1{

  color: white;
}

h3{

  font-size: 4rem;

}

 button{
  font-family: 'Big Shoulders Text', cursive;
  color:#1e369b;
  border: none;
  box-shadow: none;
  background: none;
}

.aangenaam2{
width: 50%;
}
.biografie{
  font-size: 1.7rem;
  width: 50vw;
}
.buttoncontainer{
  width: 100vw;
  display: flex;
justify-content: flex-end;
padding-right: 2rem;
padding-top: 2rem;
}



h1{
    font-size: 8rem;

}

h2{
  font-size: 4rem;
    color:#efb9bc;
}

.enter{display:block;}

.een {

height: 90vh;
width: 100vw;
  display: flex;
  justify-content: center;
align-items: center;
  flex-direction: column;
  text-align: left;
padding-left: 4rem;
  padding-right: 4rem;


}

.twee{
  min-height:40vh;
  width: 100vw;
background: white;
    color:  #efb9bc;
    padding:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.drie{
  color:  #efb9bc;
  background: #ffb457;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;



}
.vier{
  padding:12rem;
    color:  #efb9bc;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;




    background-color: white;
}


.jade{
  margin: 0;
  width: 50%;
}

.tehuur{
width: 40%;
height: 25%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.tehuur p{
  font-size: 1.5rem;
  text-align: justify;
  margin: 2rem;
}
.drie, .twee p{
  font-size: 3rem;
  margin: 4rem 7rem;
  font-family: 'Roboto Mono', monospace;
}





@media screen and (max-width: 992px) {
  .vier {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
p{
  text-align: left;

}
.aangenaam2{
width: 100%;
}
.tehuur{
  min-width: 50vw;
}
.vier p{
  font-size: 3rem;
}

}

.ondertitel{
  font-family: 'Homemade Apple';
  color:#1e369b;

}

@media screen and (max-width: 600px) {

  .tehuur{
    min-width: 80vw;
      font-size: 23rem;

  }

  .aangenaam2{
  width: 80%;
  }
  .tehuur p{
    font-size: 3rem;

  }
  .jade{
    margin: 0;
    width: 100%;
  }
}




.blogpagina{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 20%;
}

.blogpoststyle p{
  color:#555;
}
