@import url('https://fonts.googleapis.com/css?family=Roboto|Big+Shoulders+Text|Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Anton|Reenie+Beanie|Pacifico&display=swap');

html{
font-size: 62.5%;
}
body{
  color: white;
  background: #efb9bc;
  height: 100%;
  width:100vw;
  font-family:  'Roboto Mono', monospace;

}
p{
  font-size: 2.5rem;

}

body a{
  color: #1e369b;
  box-shadow: inset 0 0 100px 100px rgb(0, 122, 204);
}


.knop{
  background-color: blue;
}
h1,h2,h3{
  font-family: 'Anton', sans-serif;
}
h1{

  color: white;
}

h3{

  font-size: 4rem;

}
header{
justify-content: space-between;
  display: flex;
  padding-bottom: 5rem;

}
 button{
  font-family: 'Big Shoulders Text', cursive;
  color:#1e369b;
  border: none;
  box-shadow: none;
  background: none;
}



.paragraaf{
  width:55vw;
}

.aangenaam2{
width: 50%;
}
.biografie{
  font-size: 1.7rem;
  width: 50vw;
}
.buttoncontainer{
  width: 100vw;
  display: flex;
justify-content: flex-end;
padding-right: 2rem;
padding-top: 2rem;
}

.imageContainer{
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}


h1{
    font-size: 8rem;

}

h2{
  font-size: 4rem;
    color:#efb9bc;
}

.enter{display:block;}
.logo{
  font-family: 'Pacifico', cursive;
  font-size:2rem;
  padding: 2rem;
  color: #fff;


}
.een {

height: 100vh;
width: 100vw;
display: flex;

flex-direction: column;


background-image: linear-gradient(rgba(237, 182, 182,.9), rgba(237, 182, 182,.8)),url("../images/mensen.jpg");
background-position: bottom;
background-size: cover;

}

.subeen{
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: 100vw;

}

/* .witruimte{
  min-height:10vh;

} */
.twee{
  min-height:40vh;
  width: 100vw;
background: white;
    color:  #efb9bc;
    padding:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.drie{
  color:  #efb9bc;
  background: #ffb457;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;



}
.vier{
  padding:12rem;
    color:  #efb9bc;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;




    background-color: white;
}


.jade{
  margin: 0;
  width: 50%;
}




.drie, .twee p{
  font-size: 2rem;
  margin: 3rem 7rem 0 7rem;
  font-family: 'Roboto Mono', monospace;
}

.pijl{margin-top:25rem;}



@media screen and (max-width: 992px) {
  .vier {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
p{
  text-align: left;

}

.paragraaf{
  width: 80vw;
  font-size: 2.5rem;
}

.aangenaam2{
width: 100%;
}
.tehuur{
  min-width: 50vw;
}
.vier p{
  font-size: 3rem;
}

}

.ondertitel{
  font-family: 'Homemade Apple';
  color:#1e369b;
  text-align: left;

}

@media screen and (max-width: 600px) {

nav{
  margin-bottom: 4rem;

}
h1{
  font-size: 6rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2.5rem;
}

.twee p{
  font-size: 1.3rem;
}

.paragraaf{
  width: 100vw;
}
  .aangenaam2{
  width: 80%;
  }
  .tehuur p{
    font-size: 3rem;

  }
  .jade{
    margin: 0;
    width: 100%;
  }
}






.blogpagina{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 20%;
}

.blogpoststyle p{
  color:#555;
}






/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


.menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
font-size: 2rem;
color:#fff;
font-family: 'Anton';
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a
{
  text-decoration: none;
  color: #efb9bc;

  transition: color 0.3s ease;
}

.menuToggle a:hover
{
  color: #efd100;
}


.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span
{
  display: block;
  max-width: 100vw;
  height:auto;
  margin-bottom: 5px;
  position: relative;


  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #1e369b;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #1e369b;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
}
